<div class="text-center pt-2">
    <h1 class="text-7xl sm:text-4xl"><strong>MillenialDic</strong></h1>
    <br />

    <span>
        <p>MillenialDic es un diccionario de las palabras y frases frecuentemente usadas por las generaciones actuales (millenials, centennials, etc).</p>
        <br />
        <p>
            ¿Deseas ayudar? Dona al proyecto
            <a href="https://ko-fi.com/imilai">aquí</a> o
            <a href="https://github.com/ilaicraftYT/MillenialDic/issues/new?assignees=&labels=enhancement&template=nueva-palabra.md&title=">añade palabras</a>.
        </p>
        <br />
        {{> search}}
        <br />
        <br />
    </span>
</div>