<div class="text-center pt-2">
    <h1 class="text-7xl"><strong>MillenialDic</strong></h1>
    <br />

    <span>
        <p>MillenialDic es un diccionario de las palabras usadas por las generaciones actuales (millenials, centennials, etc).</p>
        <br />
        <p>
            ¿Deseas ayudar? Dona al proyecto
            <a href="#">aquí</a> o
            <a href="#">añade palabras</a>.
        </p>
        <br />
        {{> search}}
        <br />
        <br />
    </span>
</div>