<div class="m-2">
    <h1 class="text-5xl text-center pb-2">Abreviaturas</h1>
    <p>Al usar este diccionario, podras encontrar una pequeña abreviacion de la categoria de la palabra:</p>
    <ul>
        <li><b>verb.</b> Verbo</li>
        <li><b>adj.</b> Adjetivo</li>
        <li><b>acr.</b> Acronimo</li>
        <li><b>adv.</b> Adverbio</li>
        <li><b>pron.</b> Pronombre</li>
    </ul>
    <p>Tambien puede encontrar caracteres como | o &:</p>
    <ul>
        <li><b>acr. & verb.</b>
            Representa que es un acronimo y un verbo a la vez.</li>
        <li><b>verb. | sust.</b>
            Representa que puede ser un verbo o un sustantivo.</li>
    </ul>
</div>