@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: serif
}

a {
    color: #0ea5e9;
    text-decoration: underline;
    text-decoration-color: #0ea5e9; /* tw-sky-500 */
}

.no_style {
    text-decoration: none;
    color: black;
}